.contenedor{
    margin-top: 80px;
    display: flex;
  justify-content: center; /* Alinea horizontalmente al centro */
  align-items: center; /* Alinea verticalmente los elementos */
  gap: 10px; /* Espacio entre los elementos */
}

.btn-contador{
    padding: 5px 8px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    background: none;
    border-radius: 10px;
    border-color: #ef06e0;
}

.contador{
    margin: 0 20px;
    font-size: 16px;
    color: #fff;
}

.contenedor-mostrar{
    margin-left: 40px;
}

.mostrar{
    border-radius: 10px;
    padding: 10px;
    width: 250px;
    height: 50px;
    background-color: #c5c4c425;
    color: #ef06e0;
    box-shadow: 0 3px 8px #ef06e0;
}