*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 0 20px;
    background-color: #f8f9fa; 
  }

  .categorias{
    display: flex;
    gap: 20px;
    list-style: none;
  }

  a{
    text-decoration: none;
    color: inherit;
  }

  .categoria{
    margin-top: 10px;
  }

  .categoria:hover{
    color: darkgrey;
  }
  
  
  .cartCont{
    margin-right: 40px;
    display: flex;
    flex-direction: row-reverse;
  }
  .img{
    margin-right: 50px;
    margin-top: 15px;
    max-width: 50px;
    width: 100%;
    height: 40px;
  }

  .cantidad{
    margin-right: 40px;
    margin-top: 15px;
    font-size: 25px;
  }