@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 0 20px;
    background-color: #f8f9fa; 
    background: #9c9c9c3f;
  }

  .categorias{
    display: flex;
    gap: 20px;
    list-style: none;
  }

  a{
    text-decoration: none;
    color:#f408bd;
    font-family: "DynaPuff";
  }

  .categoria{
    margin-top: 10px;
  }

  .categoria:hover{
    color: darkgrey;
  }
  
  
  .cartCont{
    margin-right: 40px;
    display: flex;
    flex-direction: row-reverse;
  }
  .cart{
    margin-right: 20px;
    margin-top: 22px;
    max-width: 50px;
    width: 50px;
    height: 25px;
    color:#f408bd;
  }

  .empty-cart{
    margin-right: 20px;
    margin-top: 5px;
    max-width: 50px;
    width: 50px;
    height: 25px;
    color:#464646;
  }

  .cantidad{
    margin-right: 40px;
    margin-top: 15px;
    font-size: 25px;
  }