@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}



.contenedorProductos{
    display: flex;
    max-width: 1000px;
    width: 100%;
    height: 500px;
    margin-top: 80px;
    margin-bottom: 100px;
}

.imgProd{
    margin-left: 20px;
    margin-top: 20px;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 3px 4px 8px #ef06e0;
}
.contInfo{
    margin-left: 40px;
    width: 500px;
}


.prodName{
    text-align: center;
    color: #ef06e0 ;
    font-family: "DynaPuff";
}

.contPrice{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.prodPrecio {
    font-family: "Montserrat", sans-serif;
}

.prodStock{
    font-family: "Montserrat", sans-serif;
}

.prodCat{
    position: relative;
    top: 100px;
    color: #fff;
    float: right;
    font-family: "Montserrat", sans-serif;
}

.image-detail-container{
    display: flex;
    margin-left: 40px;
}

.secondary-images{
    margin-top: 25px;
    cursor: pointer;
    
}

.img-secondary{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 2px 3px 8px #ef06e0;
}

.loading{
    color: #ef06e0;
    text-align: center;
    margin-top: 80px;
    font-size: 24px;
    font-family: "DynaPuff";
}

.descripcion{
    background-color: #c5c4c425;
    color: white;
    border-radius: 20px;
    box-shadow: -3px 3px 8px #ef06e0;
    font-family: "Montserrat", "sans-serif";
    padding: 20px;
    font-size: 15px;
}