*{
    box-sizing: border-box;
}



.contenedorProductos{
    display: flex;
    max-width: 1000px;
    width: 100%;
    height: 500px;
    margin-top: 80px;
    margin-bottom: 100px;
}

.imgProd{
    margin-left: 20px;
    margin-top: 20px;
    width: 500px;
    height: 500px;
    border-radius: 20px;
}
.contInfo{
    margin-left: 40px;
    width: 500px;
}


.prodName{
    text-align: center;
}

.contPrice{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.prodCat{
    position: relative;
    top: 300px;
}